{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "printWidth": 120,
  "organizeImportsSkipDestructiveCodeActions": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-svelte"],
  "pluginSearchDirs": ["."],
  "overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
